# Copy this file to .env and adjust values as needed.

# Cassandra
CASSANDRA_CONTACT_POINTS=127.0.0.1
CASSANDRA_PORT=9042
CASSANDRA_KEYSPACE=acme
CASSANDRA_LOCAL_DC=datacenter1

# API (NestJS)
PORT=4000
JWT_SECRET=change-me-to-a-long-random-string
JWT_ACCESS_TTL=900
JWT_REFRESH_TTL=604800
